<a href="https://colab.research.google.com/github/noval2009/algoritma-pemrograman/blob/main/noval.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
contoh variabel
x=9 Bertipe int
y= "nvl" bertipe str
print(x)
print"y

SyntaxError: unterminated string literal (detected at line 5) (<ipython-input-4-885e8d803826>, line 5)

In [3]:
x = str(99)
y = int(988)
z = float(65)
print(x)
print(y)
print(z)

99
988
65.0

In [7]:
a = input ("masukan nama teman pertama :")
b = input ("masukan nama teman kedua :")

print ("berdasarkan hasil survei  :" ,a ," dan " ,b ," adalah teman yang cocok")

masukan nama teman pertama :aira
masukan nama teman kedua :adinda
berdasarkan hasil survei  : aira  dan  adinda  adalah teman yang cocok

In [8]:
a = input ("masukan nama pasangan 1 :")
b = input ("masukan nama pasangan 2 :")

print (" hasil survei antara pasangan" , a, "dan pasangan", b, "adalah pasangan yang cocok")

masukan nama pasangan 1 :noval
masukan nama pasangan 2 :aira
 hasil survei antara pasangan noval dan pasangan aira adalah pasangan yang cocok

In [9]:
a = 760
b = input ("masukan nama teman pertama :")
c = input ("masukan nama teman kedua :")
d = int(a) / 2
print (b,"mendapatkan gaji sebanyak" , d, "buah. dan si" , c,"mendapatkan gaji sebanyak" , d)

masukan nama teman pertama :kapih
masukan nama teman kedua :ikih
kapih mendapatkan gaji sebanyak 380.0 buah. dan si ikih mendapatkan gaji sebanyak 380.0